<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grinddesign.osa" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AssignActivity"
            android:label="@string/title_activity_assign"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grinddesign.osa.MainActivity" />
        </activity>
        <activity
            android:name=".ADetailActivity"
            android:label="@string/title_activity_adetail"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grinddesign.osa.MainActivity" />
        </activity>
        <activity
            android:name=".AAddActivity"
            android:label="@string/title_activity_aadd"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grinddesign.osa.MainActivity" />
        </activity>
        <activity
            android:name=".PMainActivity"
            android:label="@string/title_activity_pmain" >
        </activity>
        <activity
            android:name=".PAddActivity"
            android:label="@string/title_activity_padd"
            android:parentActivityName=".PMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grinddesign.osa.PMainActivity" />
        </activity>
        <activity
            android:name=".PDetailActivity"
            android:label="@string/title_activity_pdetail"
            android:parentActivityName=".PMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grinddesign.osa.PMainActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".ProEditActivity"
            android:label="@string/title_activity_pro_edit"
            android:parentActivityName=".ProfileActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.grinddesign.osa.ProfileActivity" />
        </activity>
        <activity
            android:name=".TimeCell"
            android:label="@string/title_activity_time_cell" >
        </activity>
    </application>

</manifest>
