<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.grinddesign.osa" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AssignActivity"
            android:label="@string/title_activity_assign" >
        </activity>
        <activity
            android:name=".ADetailActivity"
            android:label="@string/title_activity_adetail" >
        </activity>
        <activity
            android:name=".AAddActivity"
            android:label="@string/title_activity_aadd" >
        </activity>
    </application>

</manifest>
